<% layout('/layouts/boilerplate')%>


  <h1>WELCOME TO NEWBIE ZONE</h1>
  <% if (posts.length > 0) { %>
  <div class="main_container">
      <div class="card mb-4">
          <img class="card-img-top" src="https://placeimg.com/750/300/tech" alt="Card image cap">
          <div class="card-body">
              <h2 class="card-title"><%= posts.reverse()[0].title %></h2>
              <% temp_big = posts[0].description.substr(0,200).replace("\\n", "") %>
              <p class="card-text"><%= temp_big %>...</p>
              <a href="/Posts/<%= posts[0]._id %>" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
              Posted on <%= posts[0]._date %> by <%= posts[0].author %>
          </div>
      </div>

      <div class="posts"> 
        <% for (let post of posts) {%>
          <div class="row justify-content-center">
              <div class="col-lg-7" style="margin-top: 50px;">
                  <div class="card">
                      <img src="https://placeimg.com/500/500/tech"
                          class="card-img-top" alt="...">
                      <div class="card-body">
                          <h4 class="card-title"><a href="/Posts/<%= post._id %>"> <%= post.title %> </a>
                            <h5>Posted by <%= post.author %></h5>
                          </h4>
                          <p class="card-text">
                            <small class="text-muted"><%= post.date %></small>
                          </p>
                          <% temp = post.description.substr(0,50).replace("\\n", "") %>
                          <p class="card-text"><%= temp %>...</p>
                          <a href="/Posts/<%= post._id %>" class="btn btn-primary">Read More &rarr;</a>
                      </div>
                  </div>
              </div>
          </div>
          <% } %>
      </div>
      <% } else {%>
        <h3 class="lead">Let's make our first post</h3>
    <% } %>

    </div>

