<% layout('/layouts/boilerplate')%>


  <h1>WELCOME TO NEWBIE ZONE</h1>
  <p class="lead">To be done</p>
  
  <div class="main_container">
      <div class="posts">
        <% for (let post of posts.reverse()) {%>
          <div class="row justify-content-center">
              <div class="col-lg-7" style="margin-top: 50px;">
                  <div class="card">

                      <img src="https://placeimg.com/500/500/tech"
                          class="card-img-top" alt="...">
                      <div class="card-body">
                          <h4 class="card-title"><a href="/Posts/<%= post._id %>"> <%= post.title %> </a>
                            <h5>Posted by <%= post.author %></h5>
                          </h4>
                          <p class="card-text">
                            <small class="text-muted"><%= post.date %></small>
                          </p>
                          <p class="card-text"><%= post.description %></p>
                          <a href="/Posts/<%= post._id %>" class="btn btn-primary">Read More &rarr;</a>
                      </div>
                  </div>
              </div>
          </div>
          <% } %>
      </div>
    </div>
